.contenedor{
    margin: auto;
}

.hero-bg{
    background-image: url("../assets/hero-1.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 60vh;
}

.hero-container{
    padding: 50px 150px; 
}
.hero-h1{
    font-family: var(--tipografia-primaria);
    font-size: 55px;
    color: var(--color-mostaza);
    padding-bottom: 30px; 
}
.btn-mostaza{
    background-color: var(--color-mostaza);
    color: var(--color-blanco);
    padding: 1rem;
}
.btn-mostaza:hover{
    background-color: var(--color-mostaza-ligth);
    color: var(--color-blanco);
}

@media (min-width: 1440px){
    .hero-bg{
        background-size: cover;
    }
}
    





@media (max-width: 1024px){
    .hero-h1{
        font-size: 45px;
        padding-bottom: 20px; 
    }
    .hero-container{
       padding: 10px 80px;
    }
}
@media (max-width: 768px){
    .hero-h1{
        font-size: 32px;
        padding-bottom: 10px; 
    }
    .hero-container{
       padding: 10px 80px;
    }
}
@media (max-width: 425px){
    .hero-h1{
        font-size: 40px;
    }
    .hero-bg{
        background-color: var(--color-celeste);
        background-image: none;
    }
    .hero-container{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}
@media (max-width: 375px){
    .hero-h1{
        font-size: 32px;
    }
}
@media (max-width: 320px){
  
}