:root{
    --color-anaranjado: #cb973a;
    --color-turquesa: #35ec9d;
    --lineas: lineas{
        width: 800px;
    height: 3px;
    background-color: var(--color-anaranjado);
    border: solid var(--color-anaranjado) 0.1px;
    margin: 65px 120px 0 0;
    }
}

*{
    margin: 0;
    padding: 0;
}

h2{
    color:  var(--color-mostaza);
}

.proCat{
    max-width: 1200px;
    margin: auto;
    padding: 4rem 0rem;
}


.prodCategoria{
    margin-left: 120px;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}

.prodCategoria h2{
    color: var(--color-anaranjado);
}

.linea{
    height: 3px;
    background-color: var(--color-mostaza);
    border: solid var(--color-mostaza) 0.1px;
    margin: 65px 120px 0 0;
}


.container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.container .prodCategoria{
    width: 100px;
}

section .tarjeta{
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;
}

.container .tarjeta .divimg{
    height: 300px;
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px ;
}

section .tarjeta .divimg .img{
    width: 250px;
}

/*boton de compra*/
section .tarjeta .compra{
    display: flex;
}

section .tarjeta .divimg .btn{
    border: none;
    border-radius: 2px;
    width: 90px;
    height: 40px;
    background-color: var(--color-pastel);
    color: var(--color-mostaza);
    position: absolute;
    bottom: -12px;
}

/*Productos favoritos*/

.proFav{
    max-width: 1200px;
    margin: auto;
}

.favoritos{
    width: 100%;
    height: 600px;
    background-color: var(--color-pastel);
    margin-top: 100px;
}

.favoritos .profav{
    margin-left: 120px;
    padding-top: 50px;
    margin: auto;
    max-width: 1200px;
    justify-content: space-between;
}

.favoritos .profav h2{
    color: var(--color-naranja);
}

.favoritos .tarjeta{
    height: 300px;
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}


.favoritos .tarjeta .divimg .img{
    margin: 10px;
}

.favoritos .profav .linea{
    height: 3px;
    background-color: var(--color-naranja);
    border: solid var(--color-naranja) 0.1px;
}

.favoritos .verMas .btn{
    position: relative;
    padding: 1rem;
    left: 30rem;
    background-color: var(--color-anaranjado);
    color: antiquewhite;
}

@media  (max-width: 2560px) {
    .favoritos .verMas .btn{
        left: 77rem;
        top: 2rem;
    }
}

@media  (max-width: 1440px) {
    .favoritos .verMas .btn{
        position: relative;
        padding: 1rem 2rem;
        left: 41rem;
        top: 2rem;
        background-color: var(--color-anaranjado);
        color: antiquewhite;
    }
}

@media  (max-width: 1260px) {
    .linea{
        width: 600px;
    }
}

@media  (max-width: 1024px) {
    .linea{
        display: none;
    }
    .img{
        width: 100%;
    }
/*categorias de productos*/  
    .prodCategoria{
        margin-left: 0;
        justify-content: center;
    }
    section{
        flex-wrap: wrap;
    }
    section .tarjeta{
        margin-top: 20px;
    }
/*productos favoritos*/    
    .favoritos{
        height: auto;
    }
    .favoritos .profav{
        justify-content: center;
        margin-left: 0;
    }
    .favoritos .tarjeta{
        flex-wrap: wrap;
        height: auto;
    }
    .favoritos .verMas .btn{
        padding: 1rem;
        left: 30rem;
    }
}

@media (max-width: 768px){
    .favoritos .verMas .btn {
        top: 23px;
        margin-right: 20px;
        margin-top: -2rem;
        left: 21rem;
        padding: 1rem 2rem;

        }
}



@media (max-width: 425px){
    .favoritos .verMas .btn {
        left:10rem;
        z-index: 4;
        top: 0.2rem;
    }
    .container{
        flex-direction: column;
    }
}

@media (max-width: 375px){
    .favoritos .verMas .btn {
        left: 8rem;
        top: 0.2rem;
    }
}

@media (max-width: 320px){

.favoritos .verMas .btn {
    left: 6rem;
    top: 0.2rem;

}}
